section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

div {
  width: 100px;
  height: 180px;
  margin: 5px;
  border-radius: 10px;
}

.p-hand {
  background: lightblue;
  margin-top: 20px;
}

.d-hand {
  background: lightpink;
}

#face-down {
  background: darkblue;
  color: lightgrey;
  margin-left: 200px;
}

#current-card {
  background: lightgrey;
  margin-right: 200px;
}

#turn {
  margin: 0 auto;
  background: lightgrey;
  width: 160px;
  height: 40px;
}

.button {
  margin: 75px;
  background: teal;
  border: none;
  border-radius: 5px;
}

h1 {
  text-align: center;
}





